@font-face {
    font-family: 'Cretino';
    src: url('/assets/cretino.eot');
    src: url('/assets/cretino.woff') format('woff'),
         url('/assets/cretino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.macrobug{
  font-family: Cretino;
  font-size:125%;
  font-style:normal;
}
body{
  vertical-align: middle;
  margin-left:auto;
  margin-right:auto;
  width:70%;
  text-align: center;
}
